:root{
 --blue: #8BC6EC;
 --purple: #9599E2;
 --darker-blue: #53768d;
 /* --light-blue: #dcedf9; */
 --light-blue: #f3f9fd;
 --green: #96ec8b;
 --darker-green: #78bc6f;
 /* --font-color: #293b46; */
 --font-color: #374f5e;
 --width: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, var(--blue) 0%, var(--purple) 100%);
  font-family: “Poppins”, sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  background: white;
  /* padding: 2rem; */
  border-radius: 12px;
  gap: 1rem;
}

h1{
  color: var(--font-color);
}

.todo-input{
  width: 80%;
  border-radius: 6px;
  color: var(--font-color);

  /* background-color: var(--light-blue); */
}

.todo-input,
.todo-button {
  padding: .7rem;
  font-size: 2rem;
  border: var(--width) solid var(--blue);
}

.todo-button {
color: var(--blue);
background: white;
cursor: pointer;
transition: all 0.3s ease;
border-radius: 6px;
}

.todo-input:focus {
  border: var(--width) solid white;
  outline: var(--width) solid var(--darker-blue);
  background: var(--light-blue);
}

.todo-button:focus {
  border: var(--width) solid white;
  color: white;
  outline: var(--width) solid var(--darker-blue);
  background: var(--blue);
}

.todo-button:hover {
background: var(--darker-blue);
color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 90%;
  max-width: 500px;
  list-style: none;
}

.todo{
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background: white;
  color: var(--font-color);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}
.todo li{
  flex: 1;
  color: var(--font-color);
  
}

.trash-btn, .complete-btn{
  color: white;
  border: 2px solid white;
  padding: 1rem;
  
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
}
.trash-btn{
  background: var(--blue);
}

.complete-btn{
  background-color: var(--green);
}
.trash-btn:focus{
  outline: var(--width) solid var(--darker-blue);
}
.complete-btn:focus{
  outline: var(--width) solid var(--darker-green);
}

.trash-btn:hover{
  background: var(--darker-blue);
}

.complete-btn:hover{
  background: var(--darker-green);
}




.complete-btn{
  margin-right: 12px;
}